/* Footer css
 ----------------------------------------------------------------------------------------------------*/
body {
    footer#footer {
        @include clearfix;
        .widget {
            .shop {
                font-family: $font-sansserif;
            }
        }
        .footer-container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .mc4wp-form {
            margin-bottom: 50px;
            font-family: $font-sansserif;
            font-style: normal;
            text-align: center;
            label {
                text-transform: uppercase;
                font-weight: 300;
            }
            input[type=submit] {
                color: $lightcolor;
                border: 1px solid $lightcolor;
                border-radius: 0;
                @include hover {
                    background: $lightcolor;
                    color: $darkcolor;
                }
            }
            input[type=text],
            input[type=password],
            input[type=url],
            input[type=email] {
                font-family: $font-sansserif;
                font-style: normal;
                text-align: center;
                border: 1px solid $lightcolor;
                background: #111111;
            }
        }
    }
}
.footer_widget {
    &:first-of-type {
        float: none;
        max-width: 400px;
        margin: 0 auto 30px;
    }
    @media screen and (min-width: $tablet-small) {
        float: left;
        width: 50%;
    }
    @media screen and (min-width: $desktop-small) {
        width: 25%;
    }
}
.shop {
    text-align: center;
    font-style: normal;
    @media screen and (min-width: $desktop-small) {
        text-align: left;
    }
    &__title {
        color: $lightcolor;
        font-weight: 300;
    }
    p {
        color: #A4A4A4;
    }
    a {
        text-decoration: none;
        color: #A4A4A4;
        @include hover {
            color: $lightcolor;
            text-decoration: underline;
        }
    }
}