/* Header css
 ----------------------------------------------------------------------------------------------------*/
body {
	header {
		&#header {
			position: relative;
			z-index: 9998;
			background: $darkcolor;
			#logo {
				&.logo-image {
					max-width: 200px;
					margin-top: 0;
					margin-bottom: 0;
					@media screen and (min-width: $tablet-medium) {
						max-width: none;
					}
				}
			}
			&.menu-below-logo {
				nav {
					&.main-nav {
						margin-bottom: 0;
						&>ul {
							&>li {
								font-family: $font-sansserif;
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}
}